{% extends "admin/change_list.html" %}
{% block extrastyle %}
{{ block.super }}
<style>
    .object-tools {
        display: flex;
        gap: 10px;
    }
    .object-tools .button {
        border-radius: 999px;
        padding: 6px 18px;
        font-weight: 600;
    }
</style>
{% endblock %}

{% block object-tools-items %}
<li>
    <a href="{% url 'admin:menu-upload-csv' %}" class="button button-secondary">Upload Menu (CSV)</a>
</li>
<li>
    <a href="{% url 'admin:client_estimates_menuitem_add' %}" class="button button-primary">Add Menu Item</a>
</li>
{% endblock %}
